html {
  background: rgb(15, 15, 15);
  color: #eee;
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body,
.main {
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
}

.main h1 {
  align-self: center;
}
