---
title: JeremySummers.io
---

<div class="flex justify-start content-center h-full font-sans">
  <div class="self-center md:self-end text-3xl sm:text-6xl md:text-8xl pb-20">
    <h1 class="font-bold">Hi.</h1>
    <h2 class="font-thin">I'm Jeremy.</h2>
  </div>
</div>
